version: '3.9'

services: 
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Sbstn2ma!
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - SqlServer_db_data:/var/opt/mssql

volumes:
  SqlServer_db_data:

